body {
    background-color: #333;
}

/* .container {} */

#searchbox {
    position: relative;
    overflow: hidden;
    background-image: url('../images/search-light.png');
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: 97%;
}

.movie-caption {
    background-color: #000;
    opacity: .7;
    left: 0;
    right: 0;
    padding: 20px;
    text-align: left;
}

@media only screen and (min-width: 992px) {
    .search-form {
        margin-top: 25px;
    }
}