body {
    background-color: #2b2e31;
}

/* .container {} */

.logo {
    color: #facf63;
    font-size: 40px;
}

#searchbox {
    position: relative;
    overflow: hidden;
    background-image: url('../images/search-light.png');
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: 97%;
    margin-bottom: 20px;;
}

.movie-caption {
    background-color: #000;
    opacity: .7;
    left: 0;
    right: 0;
    padding: 20px;
    text-align: left;
}

/* .slider {} */

main {
    margin: 20px 0;
    text-align: center;
}

main img {
    /* width: 100%; */
    margin-bottom: 20px;
}

/* 
    screen-size -> 436px / 437px 
    screen-size-max -> 1300
*/

@media only screen and (min-width: 437px) {
    .logo {
        font-size: 60px;

@media only screen and (min-width: 992px) {
    header {
        text-align: left;

    }
}